body {
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  font-family: 'Poppins', sans-serif;
}

.card {
  border-radius: 12px;
  background-color: white;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}
